<div class="wrapper wrapper--white wrapper--justify">
  <h1 class="headline">chat doodle</h1>
  <nav class="nav">
    <a class="btn" href="/public">public chat</a>
  </nav>
  <div class="nav">
    {{> privateform }}
  </div>
  <div class="nav nav__warning">
    {{#if errorMsg}}
      <h3>{{errorMsg}}</h3>
    {{/if}}
  </div>
</div>
