<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<!-- <script src="/javascripts/lib/mainLoop.min.js"></script> -->
<script src="/javascripts/lib/p5.js" type="text/javascript"></script>
<script src="/javascripts/lib/p5.dom.js" type="text/javascript"></script>
<script src="/build/main.js"></script>

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>01_touchIsDown</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="libraries/p5.js" type="text/javascript"></script>
    <script src="libraries/p5.dom.js" type="text/javascript"></script>
    <script src="sketch.js" type="text/javascript"></script>

    <style> body {padding: 0; margin: 0;} canvas {vertical-align: top;} </style>
  </head>
  <body>
  </body>
</html> -->
