/* Block */
.nav {
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  transition: height 1s;
}

.btn {
  display: inline-block;
  flex-grow: 1;
  font-size: $medium-font;
  font-family: $code-font;

  @include e('color'){

    @include m('red'){
      background-color: red;
    }
    @include m('purple'){
      background-color: purple;
    }
    @include m('blue'){
      background-color: blue;
    }
    @include m('green'){
      background-color: green;
    }
    @include m('yellow'){
      background-color: yellow;
    }
    @include m('orange'){
      background-color: orange;
    }
    @include m('white'){
      background-color: white;
    }
    @include m('black'){
      background-color: black;
    }
  }

  @include e('refresh'){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url('../assets/refresh.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.75);
  }

  @include e('pen-size'){
    background-color: white;
  }

  &:hover{
    cursor: pointer;
  }

  transition: opacity 1s ease;

}
