body,
html {
  background: #fff;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  font-size: $large-font-weight;
}

canvas {
  vertical-align: top;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
  color: black;
}

*{
  font-family: $code-font;
}
